
:root {
  //Variables

  //gutters
  --s: 8px;
  --m: calc(var(--s)*2); //16
  --l: calc(var(--s)*3); //24
  --xl: calc(var(--s)*4); //32
  --xxl: calc(var(--s)*5); //40
  --xxxl: calc(var(--s)*6); //48
  --xxxxl: calc(var(--s)*7); //56
  --xxxxxl: calc(var(--s)*8); //64
  --superxl: calc(var(--s)*10); //80

  //Radius
  --rm: 6px;

  // fonts
  --font-body: 'Open Sans', Helvetica, sans-serif;
  --font-titles: "Playfair Display",  Helvetica, sans-serif;
  --body-text-s: 14px;
  --body-text-m: 16px;
  --body-text-l: 18px;


  //colores
  --c-main:#F1AAC0;
  --on-c-main: #60444D;
  --c-secondary: #60444D;
  --on-c-secondary: #fff;
  --c-yellow:#FFFAD0;
  --c-link: #D74371;
  --c-pink-light: rgba(241, 170, 192, 0.2);
  --c-grey: #444444;
  --c-grey-dark: #171717;
  --c-grey-light: #BBBBBB;

  //Transitions
  --transition: 0.3s;
}

