<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0,maximum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Author</title>
  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="../css/style.css" />

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link id="favicon" rel="shortcut icon" href="../images/favicon.ico" type="image/png" />
</head>
<body>
<div id="wrapper" class="home">
  <header id="header">
    <a id="logo" href="/" title="Ir a la portada de Weloversize">
      <img src="../images/logo-weloversize.svg" alt="logo Weloversize" title="logo Weloversize"/>
    </a>
    <nav>
      <ul>
        <li><a href="#">Moda</a></li>
        <li><a href="#">Belleza</a></li>
        <li><a href="#">Lifestyle</a></li>
        <li><a href="#">Vida Sana</a></li>
        <li><a href="#">Querido Diario</a></li>
        <li><a href="#">Amor y polvos</a></li>
        <li><a href="#">Cultura</a></li>
        <li class="special"><a href="#"><i class="fa fa-shopping-basket"></i> Tienda</a></li>
        <li class="special"><a href="#"><i class="fa fa-users"></i> Foro</a></li>
      </ul>
    </nav>
    <span class="icon" id="search-button">
    </span>
    <div class="icon" id="menu-toggle">
      <div></div>
    </div>
    <form id="search-form">
      <input type="search" placeholder="¿que estás buscando?" name="search"/>
      <span class="fa fa-times close" id="close-search-form"></span>
    </form>
  </header>
  <main id="main">
    <section class="hero-container">
      <div class="hero author">
        <picture>
          <!-- tatamiento vertical -->
          <source media="(orientation:portrait)" srcset="https://scontent.fmad10-2.fna.fbcdn.net/v/t1.6435-9/186371011_10224926415258031_7973812356681489032_n.jpg?_nc_cat=106&ccb=1-3&_nc_sid=09cbfe&_nc_ohc=EExCGnbNW8oAX-4Vc8B&tn=5Bcs6oVhfoE8A-yK&_nc_ht=scontent.fmad10-2.fna&oh=962cc26717de78dc29b19e01c9a8fb9c&oe=60FD4BB8">
          <!-- tatamiento version_horizontal -->
          <img alt="[Alt imagen]" title="[title imagen]" src="https://scontent.fmad10-2.fna.fbcdn.net/v/t1.6435-9/186371011_10224926415258031_7973812356681489032_n.jpg?_nc_cat=106&ccb=1-3&_nc_sid=09cbfe&_nc_ohc=EExCGnbNW8oAX-4Vc8B&tn=5Bcs6oVhfoE8A-yK&_nc_ht=scontent.fmad10-2.fna&oh=962cc26717de78dc29b19e01c9a8fb9c&oe=60FD4BB8">
          <noscript>
            <img alt="[Alt imagen]" title="[title imagen]" src="https://scontent.fmad10-2.fna.fbcdn.net/v/t1.6435-9/186371011_10224926415258031_7973812356681489032_n.jpg?_nc_cat=106&ccb=1-3&_nc_sid=09cbfe&_nc_ohc=EExCGnbNW8oAX-4Vc8B&tn=5Bcs6oVhfoE8A-yK&_nc_ht=scontent.fmad10-2.fna&oh=962cc26717de78dc29b19e01c9a8fb9c&oe=60FD4BB8">
          </noscript>
        </picture>
        <div class="data-container">
            <p class="counter">
              <strong>2896</strong>
              artículos
            </p>
            <div class="cat-title">
              Mimint
              <ul class="social-icon-list">
                <li><a class="fa fa-facebook" href="url" title="Síguenos en Facebook"></a></li>
                <li><a class="fa fa-instagram" href="url" title="Síguenos en Instagram"></a></li>
                <li><a class="fa fa-twitter" href="url" title="Síguenos en Twitter"></a></li>
              </ul>
            </div>
        </div>
      </div>
    </section>
    <div class="container mt-big">
      <div class="col-l-7 full-column">
        <section class="brief">
          <p>
            Amante del mundo de la belleza y la moda. Diseñadora y Makeup Artist
          </p>
        </section>
        <section class="mon big">
          <div class="mon-inside">
          </div>
        </section>
        <section class="normal-modules">
          <div class="normal-module">
            <img src="../images/mod1.jpg" alt="alt imagen" title="title imagen"/>
            <p class="cat"><a href="category.html" title="Ir al post [nombre del post]">Deco y hogar</a></p>
            <h2 class="title"><a href="post.html" title="Ir al post [nombre del post]">Colchonetas divertidas por menos de 20€</a></h2>
            <p>Las colchonetas más divertidas y baratas de Amazon. ¡Elige tu favorita!</p>
          </div>
          <div class="normal-module">
            <img src="../images/mod1.jpg" alt="alt imagen" title="title imagen"/>
            <p class="cat"><a href="category.html" title="Ir al post [nombre del post]">Deco y hogar</a></p>
            <h2 class="title"><a href="post.html" title="Ir al post [nombre del post]">Colchonetas divertidas por menos de 20€</a></h2>
            <p>Las colchonetas más divertidas y baratas de Amazon. ¡Elige tu favorita!</p>
          </div>
          <div class="normal-module">
            <img src="../images/mod1.jpg" alt="alt imagen" title="title imagen"/>
            <p class="cat"><a href="category.html" title="Ir al post [nombre del post]">Deco y hogar</a></p>
            <h2 class="title"><a href="post.html" title="Ir al post [nombre del post]">Colchonetas divertidas por menos de 20€</a></h2>
            <p>Las colchonetas más divertidas y baratas de Amazon. ¡Elige tu favorita!</p>
          </div>
          <div class="normal-module">
            <img src="../images/mod1.jpg" alt="alt imagen" title="title imagen"/>
            <p class="cat"><a href="category.html" title="Ir al post [nombre del post]">Deco y hogar</a></p>
            <h2 class="title"><a href="post.html" title="Ir al post [nombre del post]">Colchonetas divertidas por menos de 20€</a></h2>
            <p>Las colchonetas más divertidas y baratas de Amazon. ¡Elige tu favorita!</p>
          </div>
        </section>
        <section class="mon big">
          <div class="mon-inside">
          </div>
        </section>
        <section class="normal-modules">
          <div class="normal-module">
            <img src="../images/mod1.jpg" alt="alt imagen" title="title imagen"/>
            <p class="cat"><a href="category.html" title="Ir al post [nombre del post]">Deco y hogar</a></p>
            <h2 class="title"><a href="post.html" title="Ir al post [nombre del post]">Colchonetas divertidas por menos de 20€</a></h2>
            <p>Las colchonetas más divertidas y baratas de Amazon. ¡Elige tu favorita!</p>
          </div>
          <div class="normal-module">
            <img src="../images/mod1.jpg" alt="alt imagen" title="title imagen"/>
            <p class="cat"><a href="category.html" title="Ir al post [nombre del post]">Deco y hogar</a></p>
            <h2 class="title"><a href="post.html" title="Ir al post [nombre del post]">Colchonetas divertidas por menos de 20€</a></h2>
            <p>Las colchonetas más divertidas y baratas de Amazon. ¡Elige tu favorita!</p>
          </div>
          <div class="normal-module">
            <img src="../images/mod1.jpg" alt="alt imagen" title="title imagen"/>
            <p class="cat"><a href="category.html" title="Ir al post [nombre del post]">Deco y hogar</a></p>
            <h2 class="title"><a href="post.html" title="Ir al post [nombre del post]">Colchonetas divertidas por menos de 20€</a></h2>
            <p>Las colchonetas más divertidas y baratas de Amazon. ¡Elige tu favorita!</p>
          </div>
          <div class="normal-module">
            <img src="../images/mod1.jpg" alt="alt imagen" title="title imagen"/>
            <p class="cat"><a href="category.html" title="Ir al post [nombre del post]">Deco y hogar</a></p>
            <h2 class="title"><a href="post.html" title="Ir al post [nombre del post]">Colchonetas divertidas por menos de 20€</a></h2>
            <p>Las colchonetas más divertidas y baratas de Amazon. ¡Elige tu favorita!</p>
          </div>          <div class="normal-module">
          <img src="../images/mod1.jpg" alt="alt imagen" title="title imagen"/>
          <p class="cat"><a href="category.html" title="Ir al post [nombre del post]">Deco y hogar</a></p>
          <h2 class="title"><a href="post.html" title="Ir al post [nombre del post]">Colchonetas divertidas por menos de 20€</a></h2>
          <p>Las colchonetas más divertidas y baratas de Amazon. ¡Elige tu favorita!</p>
        </div>
          <div class="normal-module">
            <img src="../images/mod1.jpg" alt="alt imagen" title="title imagen"/>
            <p class="cat"><a href="category.html" title="Ir al post [nombre del post]">Deco y hogar</a></p>
            <h2 class="title"><a href="post.html" title="Ir al post [nombre del post]">Colchonetas divertidas por menos de 20€</a></h2>
            <p>Las colchonetas más divertidas y baratas de Amazon. ¡Elige tu favorita!</p>
          </div>
          <div class="normal-module">
            <img src="../images/mod1.jpg" alt="alt imagen" title="title imagen"/>
            <p class="cat"><a href="category.html" title="Ir al post [nombre del post]">Deco y hogar</a></p>
            <h2 class="title"><a href="post.html" title="Ir al post [nombre del post]">Colchonetas divertidas por menos de 20€</a></h2>
            <p>Las colchonetas más divertidas y baratas de Amazon. ¡Elige tu favorita!</p>
          </div>
          <div class="normal-module">
            <img src="../images/mod1.jpg" alt="alt imagen" title="title imagen"/>
            <p class="cat"><a href="category.html" title="Ir al post [nombre del post]">Deco y hogar</a></p>
            <h2 class="title"><a href="post.html" title="Ir al post [nombre del post]">Colchonetas divertidas por menos de 20€</a></h2>
            <p>Las colchonetas más divertidas y baratas de Amazon. ¡Elige tu favorita!</p>
          </div>
        </section>
        <p class="btn-container">
          <a class="btn">Ver más artículos</a>
        </p>
      </div>
      <div class="col-l-1 mobile-none"></div>
      <div class="col-l-4 full-column">
        <section id="bbp_topics_widget-2" class="widget widget_display_topics"><h2 class="widget-title">LO + CALENTITO DEL FORO</h2>
          <ul class="bbp-topics-widget newness">
            <li>
              <a class="bbp-forum-title" href="https://weloversize.com/topic/del-porno-a-la-infidelidad/">Del porno a la infidelidad</a>
            </li>
            <li>
              <a class="bbp-forum-title" href="https://weloversize.com/topic/como-limpio-una-casa-que-no-es-mia/">¿Cómo limpio una casa que no es mía?</a>
            </li>
            <li>
              <a class="bbp-forum-title" href="https://weloversize.com/topic/es-normal-este-pensamiento-con-respecto-al-futuro/">¿Es normal este pensamiento con respecto al futuro?</a>
            </li>
            <li>
              <a class="bbp-forum-title" href="https://weloversize.com/topic/como-hablar-con-el-sin-parecer-una-loca/">Como hablar con él sin parecer una loca</a>
            </li>
            <li>
              <a class="bbp-forum-title" href="https://weloversize.com/topic/mi-jefe-y-mi-nivel-de-estres/">Mi jefe y mi nivel de estrés</a>
            </li>
            <li>
              <a class="bbp-forum-title" href="https://weloversize.com/topic/conocer-gente-en-alcala-de-henares/">Conocer gente en Alcalá de henares</a>
            </li>
            <li>
              <a class="bbp-forum-title" href="https://weloversize.com/topic/me-quieren-incapacitar-contra-mi-voluntad/">Me quieren incapacitar contra mi voluntad!</a>
            </li>
            <li>
              <a class="bbp-forum-title" href="https://weloversize.com/topic/no-se-si-mi-bebe-esta-bien-15-semanas/">No sé si mi bebé está bien (15 semanas)</a>
            </li>
            <li>
              <a class="bbp-forum-title" href="https://weloversize.com/topic/darte-placer-tu-sola-pero-que-sea-sorpresa-a-la-vez/">Darte placer tú sola… Pero que sea sorpresa a la vez…</a>
            </li>
            <li>
              <a class="bbp-forum-title" href="https://weloversize.com/topic/mi-reloj-biologico-no-tiene-pila-y-se-agota-el-tiempo/">Mi reloj biológico no tiene pila y se agota el tiempo.</a>
            </li>
          </ul>
        </section>
        <section class="mon square">
          <div class="mon-inside">

          </div>
        </section>
        <section class="weloverfamily">
          <h2>Únete a la familia WeLoversize</h2>
          <p>WLS es una comunidad que si se hace grande es gracias a vosotros. Si quieres formar parte de esto y aportar tu granito de arena, envíanos tus artículos, historias, follodramas o nuevas propuestas para mejorar,</p>
          <p><strong>¡Juntas somos más fuertes!</strong></p>
          <p class="btn-container"><a class="btn full">Colaborar</a></p>
        </section>
        <section class="mon square">
          <div class="mon-inside">

          </div>
        </section>
      </div>
    </div>


  </main>
  <footer id="footer">
    <section class="social">
      <ul class="social-icon-list">
        <li><a class="fa fa-facebook" href="url" title="Síguenos en Facebook"></a></li>
        <li><a class="fa fa-instagram" href="url" title="Síguenos en Instagram"></a></li>
        <li><a class="fa fa-twitter" href="url" title="Síguenos en Twitter"></a></li>
      </ul>
    </section>
    <section class="links">
      <ul>
        <li>
          <a href="" title="Ir a política de privacidad">
            Política de privacidad
          </a>
        </li>
        <li>
          <a href="" title="Ir a política de privacidad">
            Cookies
          </a>
        </li>
        <li>
          <a href="" title="Ir a política de privacidad">
            Aviso legal
          </a>
        </li>
        <li>
          <a href="" title="Ir a política de privacidad">
            Sobre nosotros
          </a>
        </li>
        <li>
          <a href="" title="Ir a política de privacidad">
            Contacto
          </a>
        </li>
      </ul>
    </section>
    <p class="copy">
      <strong>WeloverSize.com</strong> @ 2021. Todos los derechos reservados.
    </p>
  </footer>
</div>
</body>
<script type="text/javascript" src="../js/custom.js"></script>
<script src="https://kit.fontawesome.com/e8db80203d.js" crossorigin="anonymous"></script>
</html>
