<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0,maximum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Home</title>
  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="../css/style.css" />

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link id="favicon" rel="shortcut icon" href="../images/favicon.ico" type="image/png" />
</head>
<body>
<div id="wrapper" class="home">
  <header id="header">
    <a id="logo" href="/" title="Ir a la portada de Weloversize">
      <img src="../images/logo-weloversize.svg" alt="logo Weloversize" title="logo Weloversize"/>
    </a>
    <nav>
      <ul>
        <li><a href="#">Moda</a></li>
        <li><a href="#">Belleza</a></li>
        <li><a href="#">Lifestyle</a></li>
        <li><a href="#">Vida Sana</a></li>
        <li><a href="#">Querido Diario</a></li>
        <li><a href="#">Amor y polvos</a></li>
        <li><a href="#">Cultura</a></li>
        <li><a href="#"><i class="fa fa-shopping-basket"></i> Tienda</a></li>
        <li><a href="#"><i class="fa fa-users"></i> Foro</a></li>
      </ul>
    </nav>
    <span class="icon" id="search-button">
    </span>
    <div class="icon" id="menu-toggle">
      <div></div>
    </div>
<!--    <form id="search-form">-->
<!--      <input type="search" placeholder="¿que curso estás buscando?" name="search"/>-->
<!--      <span id="close-search-form" class="icon"><i class="unir-icon icon-x"></i></span>-->
<!--    </form>-->
  </header>
  <main id="main">
  </main>
  <footer id="footer">

  </footer>
</div>
</body>
<script type="text/javascript" src="../js/swiper.min.js"></script>
<script type="text/javascript" src="../js/custom.js"></script>
</html>
