<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0,maximum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Home</title>
  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="../css/style.css" />

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link id="favicon" rel="shortcut icon" href="../images/favicon.ico" type="image/png" />
</head>
<body>
<div id="wrapper" class="home">
  <header id="header">
    <a id="logo" href="/" title="Ir a la portada de Weloversize">
      <img src="../images/logo-weloversize.svg" alt="logo Weloversize" title="logo Weloversize"/>
    </a>
    <nav>
      <ul>
        <li><a href="#">Moda</a></li>
        <li><a href="#">Belleza</a></li>
        <li><a href="#">Lifestyle</a></li>
        <li><a href="#">Vida Sana</a></li>
        <li><a href="#">Querido Diario</a></li>
        <li><a href="#">Amor y polvos</a></li>
        <li><a href="#">Cultura</a></li>
        <li><a href="#"><i class="fa fa-shopping-basket"></i> Tienda</a></li>
        <li><a href="#"><i class="fa fa-users"></i> Foro</a></li>
      </ul>
    </nav>
    <span class="icon" id="search-button">
    </span>
    <div class="icon" id="menu-toggle">
      <div></div>
    </div>
<!--    <form id="search-form">-->
<!--      <input type="search" placeholder="¿que curso estás buscando?" name="search"/>-->
<!--      <span id="close-search-form" class="icon"><i class="unir-icon icon-x"></i></span>-->
<!--    </form>-->
  </header>
  <main id="main">
    <section class="featured">
      <div class="featured-module">
        <div class="img-container"><img src="../images/feat1.jpg" alt="alt imagen" title="title imagen"/></div>
        <h2><a href="post.html" title="Ir al post [nombre del post]">5 Mujeres no normativas nos cuentan cómo vivieron desnudarse delante de alguien por primera vez</a></h2>
      </div>
      <div class="featured-module">
        <div class="img-container"><img src="../images/feat2.jpg" alt="alt imagen" title="title imagen"/></div>
        <h2><a href="post.html" title="Ir al post [nombre del post]"> Qué locura, qué alboroto, tengo nuevo juguete favorito para mi toto</a></h2>
      </div>
      <div class="featured-module">
        <div class="img-container"><img src="../images/feat3.jpg" alt="alt imagen" title="title imagen"/></div>
        <h2><a href="post.html" title="Ir al post [nombre del post]">Las 3 sandalias más cómodas que he encontrado para este verano</a></h2>
      </div>
      <div class="featured-module">
        <div class="img-container"><img src="../images/feat4.jpg" alt="alt imagen" title="title imagen"/></div>
        <h2><a href="post.html" title="Ir al post [nombre del post]">Los 5 sujetadores deportivos de talla grande más vendidos de SHEIN</a></h2>
      </div>
    </section>
    <section class="mon short">
      <div class="mon-inside">

      </div>
    </section>
    <div class="container">
      <div class="col-l-8 full-column">
        <section class="second-featured mobile-extended">
          <img src="../images/sec-feat.jpg" alt="alt imagen" title="title imagen"/>
          <p class="cat"><a href="category.html" title="Ir al post [nombre del post]">Amor y polvos</a></p>
          <h2 class="title"><a href="post.html" title="Ir al post [nombre del post]">Si saca lo peor de tí...
            no es ahí</a></h2>
        </section>
        <section class="normal-modules">
          <div class="normal-module">
            <img src="" alt="alt imagen" title="title imagen"/>
            <p class="cat"><a href="category.html" title="Ir al post [nombre del post]">Deco y hogar</a></p>
            <h2><a href="post.html" title="Ir al post [nombre del post]">Colchonetas divertidas por menos de 20€</a></h2>
            <p>Las colchonetas más divertidas y baratas de Amazon. ¡Elige tu favorita!</p>
          </div>
        </section>
      </div>
      <div class="col-l-4 full-column">

      </div>
    </div>


  </main>
  <footer id="footer">

  </footer>
</div>
</body>
<script type="text/javascript" src="../js/swiper.min.js"></script>
<script type="text/javascript" src="../js/custom.js"></script>
</html>
