<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0,maximum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Home</title>
  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="../css/style.css" />

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link id="favicon" rel="shortcut icon" href="../images/favicon.ico" type="image/png" />
</head>
<body>
<div id="wrapper" class="home">
  <header id="header">
    <span class="icon" id="menu-toggle"><i class="icon-menu unir-icon"></i></span>
    <a id="logo" href="/" title="Ir a la portada de Unir formacion empresas">
      <picture>
        <!-- tatamiento vertical -->
        <source media="(max-width:1279px)" srcset="../images/logo-unir-formacion-empresa-short.svg">
        <!-- tatamiento version_normal -->
        <img src="../images/logo-unir-formacion-empresa.svg" alt="logo Unir Formación Empresa" title="logo Unir Formación Empresa"/>
        <noscript>
          <img src="../images/logo-unir-formacion-empresa.svg" alt="logo Unir Formación Empresa" title="logo Unir Formación Empresa"/>
        </noscript>
      </picture>
    </a>
    <nav>
      <ul>
        <li class="close"><span><i class="unir-icon icon-x"></i> Cerrar</span></li>
        <li><a href="#">Cursos</a></li>
        <li><a href="#">Áreas de estudio</a></li>
        <li><a href="#">¿Cómo funciona?</a></li>
        <li><a href="#">Convenios de empresa</a></li>
      </ul>
    </nav>
    <span class="icon" id="search-button">
        <i class="unir-icon icon-search"></i>
      </span>
    <form id="search-form">
      <input type="search" placeholder="¿que curso estás buscando?" name="search"/>
      <span id="close-search-form" class="icon"><i class="unir-icon icon-x"></i></span>
    </form>
  </header>
  <main id="main">
    <section class="swiper-container hero-slider">
      <div class="swiper-wrapper">
      <div class="hero big text-white swiper-slide">
        <picture>
          <!-- tatamiento vertical -->
          <source media="(orientation:portrait)" srcset="https://images.pexels.com/photos/5553050/pexels-photo-5553050.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260">
          <!-- tatamiento version_horizontal -->
          <img alt="[Alt imagen]" title="[title imagen]" src="https://cdn.pixabay.com/photo/2021/01/02/23/55/dog-5883275_960_720.jpg">
          <noscript>
            <img alt="[Alt imagen]" title="[title imagen]" src="https://cdn.pixabay.com/photo/2021/01/02/23/55/dog-5883275_960_720.jpg">
          </noscript>
        </picture>
        <div class="container data-container">
          <h1 class="col-l-8">Cursos Universitarios para hacer prácticas en Empresas</h1>
          <p class="col-l-8">Formamos en las distintas áreas funcionales del ámbito empresarial a través de formación competente y de calidad que permite incorporarse rápidamente a hacer prácticas en reputadas empresas.</p>
          <img class="logo-unir" src="../images/logo-unir-w.svg" alt="Logo Unir" title="Logo Unir"/>
        </div>
      </div>
      <div class="hero big text-white swiper-slide">
        <picture>
          <!-- tatamiento vertical -->
          <source media="(orientation:portrait)" srcset="https://cdn.pixabay.com/photo/2021/01/02/23/55/dog-5883275_960_720.jpg">
          <!-- tatamiento version_horizontal -->
          <img alt="[Alt imagen]" title="[title imagen]" src="https://images.pexels.com/photos/5553050/pexels-photo-5553050.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260">
          <noscript>
            <img alt="[Alt imagen]" title="[title imagen]" src="https://images.pexels.com/photos/5553050/pexels-photo-5553050.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260">
          </noscript>
        </picture>
        <div class="container data-container">
          <h1 class="col-l-8">Otro titular</h1>
          <p class="col-l-8">Otra descripcion</p>
          <img class="logo-unir" src="../images/logo-unir-w.svg" alt="Logo Unir" title="Logo Unir"/>
        </div>
      </div>
      <div class="hero big text-white swiper-slide">
        <picture>
          <!-- tatamiento vertical -->
          <source media="(orientation:portrait)" srcset="https://cdn.pixabay.com/photo/2020/10/25/09/34/pipit-5683656_960_720.jpg">
          <!-- tatamiento version_horizontal -->
          <img alt="[Alt imagen]" title="[title imagen]" src="https://cdn.pixabay.com/photo/2020/10/25/09/34/pipit-5683656_960_720.jpg">
          <noscript>
            <img alt="[Alt imagen]" title="[title imagen]" src="https://cdn.pixabay.com/photo/2020/10/25/09/34/pipit-5683656_960_720.jpg">
          </noscript>
        </picture>
        <div class="container data-container">
          <h1 class="col-l-8">Cursos Universitarios para hacer prácticas en Empresas</h1>
          <p class="col-l-8">Formamos en las distintas áreas funcionales del ámbito empresarial a través de formación competente y de calidad que permite incorporarse rápidamente a hacer prácticas en reputadas empresas.</p>
          <img class="logo-unir" src="../images/logo-unir-w.svg" alt="Logo Unir" title="Logo Unir"/>
        </div>
      </div>
      </div>
      <div class="hero-slider-pagination"></div>
    </section>
  </main>
  <footer id="footer">
    <div class="bg-c-grey-m-dark above-footer">
      <div class="container">
        <ul class="full-column">
          <li><i class="icon-job"></i>Prácticas inmediatas</li>
          <li><i class="icon-gift"></i>Aval de una universidad</li>
          <li><i class="icon-check-2"></i>Adaptado a tus necesidades</li>
          <li><i class="icon-computer"></i>Cursos 100% online</li>
        </ul>
      </div>
    </div>
    <div class="container medium-footer">
      <ul class="full-column">
        <li><a href="#" title="[title]">artes y humanidades</a></li>
        <li><a href="#" title="[title]">ciencias de la seguridad</a></li>
        <li><a href="#" title="[title]">artes y humanidades</a></li>
        <li><a href="#" title="[title]">ciencias de la seguridad</a></li>
        <li><a href="#" title="[title]">artes y humanidades</a></li>
        <li><a href="#" title="[title]">ciencias de la seguridad</a></li>
        <li><a href="#" title="[title]">artes y humanidades</a></li>
        <li><a href="#" title="[title]">ciencias de la seguridad</a></li>
        <li><a href="#" title="[title]">artes y humanidades</a></li>
        <li><a href="#" title="[title]">ciencias de la seguridad</a></li>
        <li><a href="#" title="[title]">artes y humanidades</a></li>
        <li><a href="#" title="[title]">ciencias de la seguridad</a></li>
        <li><a href="#" title="[title]">artes y humanidades</a></li>
        <li><a href="#" title="[title]">ciencias de la seguridad</a></li>
        <li><a href="#" title="[title]">artes y humanidades</a></li>
        <li><a href="#" title="[title]">ciencias de la seguridad</a></li>
        <li><a href="#" title="[title]">artes y humanidades</a></li>
        <li><a href="#" title="[title]">ciencias de la seguridad</a></li>
        <li><a href="#" title="[title]">artes y humanidades</a></li>
        <li><a href="#" title="[title]">ciencias de la seguridad</a></li>
        <li><a href="#" title="[title]">artes y humanidades</a></li>
        <li><a href="#" title="[title]">ciencias de la seguridad</a></li>
        <li><a href="#" title="[title]">artes y humanidades</a></li>
        <li><a href="#" title="[title]">ciencias de la seguridad</a></li>
      </ul>
    </div>
    <div class="below-footer">
      <div class="container">
        <ul class="full-column">
          <li><a href="" title="[title]">Contacto</a></li>
          <li><a href="" title="[title]">FAQs</a></li>
          <li><a href="" title="[title]">Privacidad</a></li>
          <li><a href="" title="[title]">Términos y condiciones</a></li>
        </ul>
      </div>
    </div>
  </footer>
</div>
</body>
<script type="text/javascript" src="../js/swiper.min.js"></script>
<script type="text/javascript" src="../js/custom.js"></script>
</html>
