label.checkbox{
  padding-left: 35px;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  input{
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  .checkmark {
    transition: var(--transition);
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    padding: 0;
    border: 2px solid var(--c-grey-s-light);
    border-radius: 3px;
    height: 24px;
    width: 24px;
    vertical-align: middle;
    margin-right: 8px;
    &:after {
      content: "";
      position: absolute;
      display: none;
      left: 6px;
      top: 1px;
      width: 5px;
      height: 10px;
      border: solid var(--c-main);
      border-width: 0 3px 3px 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
    }
  }
  &:hover input ~ .checkmark {
    border-color: var(--c-main);
  }
  input:checked ~ .checkmark {
    border-color: var(--c-main);
    &:after{
      display: block;
    }
  }
}
label.pill{
  display: inline-block;
  input{
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  .checkmark {
    padding: 4px 8px 4px 16px;
    min-height: 34px;
    display: inline-flex;
    align-items: center;
    position: relative;
    cursor: pointer;
    user-select: none;
    justify-content: flex-start;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    transition: var(--transition);
    top: 0;
    left: 0;
    box-sizing: border-box;
    border: 1px solid var(--c-grey-l-light);
    background: var(--c-grey-l-light);
    border-radius: 6px;
    line-height: 1.2;
    &:after {
      content: "";
      position: absolute;
      display: none;
      left: 12px;
      top: 9px;
      width: 5px;
      height: 10px;
      border: solid var(--c-main);
      border-width: 0 1px 1px 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
    }
  }
  &:hover input ~ .checkmark {
    border-color: var(--c-main);
  }
  input:checked ~ .checkmark {
    border-color: var(--c-main);
    color: var(--c-main);
    padding: 4px 8px 4px 32px;
    &:after{
      display: block;
    }
  }
}
label.switch{
  padding-left:58px;
  min-height: 30px;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  input{
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  .checkmark {
    transition: var(--transition);
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    padding: 0;
    border-radius: 15px;
    width: 50px;
    height: 30px;
    background: var(--c-grey-s-dark);
    &:after {
      content: "x";
      font-weight: 600;
      position: absolute;
      left: 2px;
      top: 2px;
      width: 26px;
      height: 26px;
      border-radius: 100%;
      background: #fff;
      color: var(--c-grey-m-dark);
      text-align: center;
      vertical-align: center;
      line-height: 26px;
      padding: 0;
    }
  }
  &:hover input ~ .checkmark {
    background-color: var(--c-main);
  }
  input:checked ~ .checkmark {
    background-color: var(--c-main);
    &:after{
      right:2px;
      left: auto;
    }
  }
}